[submodule "external/janky"]
	path = external/janky
	url = git@github.com:lcodes/janky.git

[submodule "external/assimp"]
	path = external/assimp
	url = git@github.com:assimp/assimp.git

[submodule "external/stb"]
	path = external/stb
	url = git@github.com:nothings/stb.git

[submodule "external/Compressonator"]
	path = external/Compressonator
	url = git@github.com:GPUOpen-Tools/Compressonator.git

[submodule "external/uWebSockets"]
	path = external/uWebSockets
	url = git@github.com:uNetworking/uWebSockets.git

[submodule "external/EGL-Registry"]
	path = external/EGL-Registry
	url = git@github.com:KhronosGroup/EGL-Registry.git

[submodule "external/OpenGL-Registry"]
	path = external/OpenGL-Registry
	url = git@github.com:KhronosGroup/OpenGL-Registry.git

[submodule "external/rtm"]
	path = external/rtm
	url = git@github.com:nfrechette/rtm.git

[submodule "external/Box2D"]
	path = external/Box2D
	url = git@github.com:erincatto/Box2D.git

[submodule "external/bullet3"]
	path = external/bullet3
	url = git@github.com:bulletphysics/bullet3.git

[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "external/concurrentqueue"]
	path = external/concurrentqueue
	url = git@github.com:cameron314/concurrentqueue.git
