[submodule "external/uWebSockets"]
  path = external/uWebSockets
  url = git@github.com:uNetworking/uWebSockets.git
[submodule "external/janky"]
	path = external/janky
	url = git@github.com:lcodes/janky.git
